/* src/index.css */

body {
  margin: 0;
  font-family: 'Orbit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face {
  font-family: 'Orbit';
  src: local('Orbit'), url('../public/fonts/Orbit-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
